<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    {% seo %}

    <!-- Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "{{ site.title }}",
        "description": "{{ site.description }}",
        "url": "{{ site.url }}",
        "logo": "{{ site.url }}/assets/img/ryttaren.jpg",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Gunsta",
          "addressRegion": "Uppsala län",
          "addressCountry": "SE"
        },
        "contactPoint": {
          "@type": "ContactPoint",
          "email": "brfboklokryttaren@gmail.com",
          "contactType": "customer service"
        }
      }
    </script>

    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
  </head>
  <body>
    {% include page-header.html %}
    <main id="content" class="main-content" role="main">{{ content }}</main>
    {% include page-footer.html %}
  </body>
</html>
